<div class="huarow">
    <h3>Xαροκόπειο Πανεπιστήμιο</h3>
</div>

<div class="row">
    <div class="large-6 large-centered medium-6 medium-centered small-12 columns">
       <div class="accessbox">
        <h4>Μέσα Μαζικής Μεταφοράς</h4>

<p><i class="fa fa-train" style="font-size: 20px;color: #0A2FFF;"></i><span style="font-size:15px;">Μετρό:</span>  <br>
Σταθμός ΤΑΥΡΟΣ – ΕΛ. ΒΕΝΙΖΕΛΟΣ της πράσινης γραμμής 1:</p>

<p>Τρόλλεϋ:<br>
Γραμμή 1 (Πλατ. Αττικής [–Πλατ Συντάγματος] – Τζιτζιφιές – Μοσχάτο)<br>
Γραμμή 5 (Λαμπρινή – Πλατ. Συντάγματος – Τζιτζιφιές)</p>

<p>Κατεβαίνοντας από Αθήνα:<br>
Στάση Καραγιάννη (γωνία Λεωφ. Ελ. Βενιζέλου και Ευαγγελιστρίας)<br>
Στάση Χαροκόπου (γωνία Λεωφ. Ελ. Βενιζέλου και Χαροκόπου)</p>

<p>Ανεβαίνοντας από Μοσχάτο (γρ. 1) ή Τζιτζιφιές (γρ. 5):<br>
Στάση Χαροκόπου</p>

<p><i class="fa fa-bus" style="font-size:20px;color: #606C0D;"></i><span style="font-size:15px;">Λεωφορείο:</span>
040 (γραμμή Αθήνα – Πειραιάς)<br>
Κατεβαίνοντας από Αθήνα:<br>
Στάση Χαροκόπου<br>
Ανεβαίνοντας από Πειραιά:<br>
Στάση Αγ. Πάντων</p>

<p><i class="fa fa-map-marker" style="    font-size: 26px;
    margin-right: 4px;
    color: #03FF04;"></i>Χαροκόπειο Πανεπιστήμιo<br>
Ελευθερίου Βενιζέλου 70<br>
Καλλιθέα 17671<br>
Τηλ. 2109549100<br>
Φαξ. 2109577050</p>


</div>
    </div>
</div>

<section id="gmap">

 <div id="map"></div>

</section>