<div class="huarow">
    <h3>Xαροκόπειο Πανεπιστήμιο</h3>
</div>

<div class="row">
    
    <div class="large-8 large-centered medium-10 medium-centered small-12 columns">
<div class="contactbox">
    <h3>Πρυτανεία:</h3>
    <hr>
    <p>Γρ. Πρύτανη: 210-9549101,120</p> 
<p>Αντιπρύτανης Ακαδημαϊκών Υποθέσεων &amp; Προσωπικού: 210-9549101</p>
<p>Αντιπρύτανης Οικονομικού Προγραμματισμού &amp; Ανάπτυξης: 210-9549102</p>
</div>
</div>
<div class="row">
    
<div class="large-6 medium-6 small-12 columns">   
<div class="contactbox">
    <h3>Γραμματείες Τμημάτων:</h3>
     <hr>
    <h5>ΤΜΗΜΑ ΟΙΚΙΑΚΗΣ ΟΙΚΟΝΟΜΙΑΣ ΚΑΙ ΟΙΚΟΛΟΓΙΑΣ</h5>
    <p>Γιαννούλη Παναγιώτα: 210-9549117</p> 
    <h5>ΤΜΗΜΑ ΕΠΙΣΤΗΜΗΣ ΔΙΑΙΤΟΛΟΓΙΑΣ - ΔΙΑΤΡΟΦΗΣ</h5>
    <p>Παπαδοπούλου Βασιλική: 210-9549111</p> 
    <p>Μαράκη Μαρία: 210 -9549114</p> 
    <h5>ΤΜΗΜΑ ΓΕΩΓΡΑΦΙΑΣ</h5>
    <p>Θάλεια Αλεβιζάκη : 210-9549150, 151</p> 
     <h5>ΤΜΗΜΑ ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΗΛΕΜΑΤΙΚΗΣ</h5>
    <p>Δανέλη Φωτεινή: 210-9549280</p> 

</div>
</div> 
<div class="large-6 medium-6 small-12 columns">   
<div class="contactbox">
        <h3>Γραμματείες Μεταπτυχιακών Προγραμμάτων Σπουδών:</h3>
         <hr>
    <h5>Εφαρμοσμένη Γεωγραφία και Διαχείριση του Χώρου</h5>
    <p>Φουλίδη Ζωή: 210-9549325 zfoulidi at hua dot gr</p> 
     <h5>Εφαρμοσμένη Διαιτολογία - Διατροφή</h5>
    <p>Σοφού Ελένη: 210-9549158, esofou at hua dot gr </p> 
     <h5>Βιώσιμη Ανάπτυξη</h5>
    <p>Παστραπά Ελένη : 210-9549263, epastrapa at hua dot gr</p> 
     <h5>Εκπαίδευση και Πολιτισμός</h5>
    <p>Καραγεώργου Ελισσάβετ: 210 95 49 215,  ekarage at hua dot gr</p> 

</div>
</div> 


</div>
</div>