<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;">Ιστορία</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("huastone.jpg") %>" style="width:100%;height:400px;">
        </div>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            Το Χαροκόπειο Πανεπιστήμιο αποτελεί, κατά χρονολογική σειρά ιδρύσεως, το 18ο Α.Ε.Ι. της χώρας. Ιδρύθηκε με το άρθρ. 9 του Ν.1894/90 όπως τροποποιήθηκε με το άρθρ. 17 του Ν. 1966/91 με πρωτοβουλία του Καθηγητή Γεωργίου Καραμπατζού (†2011). Το Χαροκόπειο Πανεπιστήμιο φέρει το όνομα του εθνικού ευεργέτη Παναγή Χαροκόπου, κοσμοπολίτη Έλληνα της διασποράς, με ευρωπαϊκό προσανατολισμό, ο οποίος οραματίστηκε ένα εκπαιδευτικό ίδρυμα με άριστες κτηριακές υποδομές και εξοπλισμό, σε αρμονία με το φυσικό περιβάλλον, που θα πρόσφερε ό,τι πιο σύγχρονο παρείχε η επιστήμη. Έτσι δόθηκε η δυνατότητα για την πλήρη αξιοποίηση των περιουσιακών στοιχείων των διαθετών, αφενός του Παναγή Χαροκόπου και αφετέρου της Ευανθίας Χαροκόπου-Πετρούτση, σύμφωνα με τη βούλησή τους.
            <br><br>Ο σχεδιασμός και η όλη ανάπτυξη του Πανεπιστημίου έχει στηριχθεί σε διεθνή πρότυπα και σε επιστημονική μελέτη, που εκπονήθηκε από το Ινστιτούτο Περιφερειακής Ανάπτυξης του Παντείου Πανεπιστημίου με εντολή του τότε Υπουργού Παιδείας. Η κτηριακή υποδομή που υπήρχε ανακαινίσθηκε πλήρως τα έτη 1993-1994 και συμπληρώθηκε με την ανέγερση ενός νέου κτηρίου κατά τη διετία 1999-2000. Εντός του 2011 θα εγκαινιασθεί ένα ακόμη κτήριο στην περιοχή του Ταύρου σε οικόπεδο που αγοράστηκε το 2004.
            <br><br>Το Χαροκόπειο Πανεπιστήμιο άρχισε να λειτουργεί από το ακαδημαϊκό έτος 1993-94. Τα πρώτα χρόνια της λειτουργίας του διοικήθηκε διαδοχικά από δύο Διοικούσες Επιτροπές. Πρόεδρος της πρώτης Διοικούσας Επιτροπής (1991-96) διετέλεσε η Αθηνά Ζαμάνη – Παπαπέτρου, Καθηγήτρια του Πανεπιστημίου Αθηνών, Αντιπρόεδρος ο Γεώργιος Καραμπατζός, Καθηγητής του Χαροκοπείου Πανεπιστημίου και μέλη οι: Ελευθέριος Καραγιαννόπουλος, Διευθυντής Προγραμματισμού και Μελετών του Υπουργείου Παιδείας, Ευτυχία Κομηνάτου-Παγώνη, Διευθύντρια της Τεχνικής Υπηρεσίας του Πανεπιστημίου Αθηνών, Αντώνιος Ρήγας, Καθηγητής του Πανεπιστημίου Αθηνών, Ηλίας Σιδηρόπουλος, Καθηγητής του Παντείου Πανεπιστημίου και Νικόλαος Τσούτσας, Δικηγόρος – Νομικός Σύμβουλος του Χαροκοπείου Πανεπιστημίου. Πρόεδρος της δεύτερης Διοικούσας Επιτροπής (1996-99) υπήρξε ο Κωνσταντίνος Μπαλής, Καθηγητής του Γεωπονικού Πανεπιστημίου.
            <br><br>Από το 1999 το Πανεπιστήμιο απέκτησε δικές του Πρυτανικές Αρχές με πρώτο Πρύτανη τον Καθηγητή Γεώργιο Καραμπατζό και Αντιπρυτάνεις τους Καθηγητές Βασίλειο Σταυρινό, Κωνσταντίνο Μπαλή (†2000) και Ανδρέα Κυριακούση (από το 2000). Από το 2004 Πρυτανικές Αρχές ήταν: ο Πρύτανης Καθηγητής Ανδρέας Κυριακούσης και οι Αντιπρυτάνεις Καθηγήτριες Σμαραγδή Αντωνοπούλου και Αικατερίνη Μαριδάκη-Κασσωτάκη, ενώ από 1.1.2011 έως 30.4.2011 άσκησε χρέη Πρύτανη η Αντιπρύτανης Σμαραγδή Αντωνοπούλου και από 1.5.2011 έως 31.8.2011 άσκησε χρέη Πρύτανη η Αντιπρύτανης Αικ. Μαριδάκη – Κασσωτάκη. Οι σημερινές Πρυτανικές Αρχές του Πανεπιστημίου είναι: ο Πρύτανης Καθηγητής Δημοσθένης Αναγνωστόπουλος και οι Αντιπρυτάνεις Αναπλ. Καθηγήτρια Ευαγγελία Γεωργιτσογιάννη και Αναπλ. Καθηγητής Απόστολος Παπαδόπουλος.
            <br><br>Σήμερα το Πανεπιστήμιο διαθέτει τέσσερα προπτυχιακά Τμήματα: το <strong>Τμήμα Οικιακής Οικονομίας και Οικολογίας</strong>, που λειτουργεί από το 1993, το <strong>Τμήμα Επιστήμης Διαιτολογίας – Διατροφής</strong> (από το 1994), το <strong>Τμήμα Γεωγραφίας</strong> (από το 2000) και το <strong>Τμήμα Πληροφορικής και Τηλεματικής</strong> (από το 2007). Λειτουργούν επίσης και τέσσερα Προγράμματα Μεταπτυχιακών Σπουδών: <em>«Βιώσιμη Ανάπτυξη», «Εφαρμοσμένη Διαιτολογία – Διατροφή», Εφαρμοσμένη Γεωγραφία και Διαχείριση του Χώρου»</em> και <em>«Εκπαίδευση και Πολιτισμός»</em>.
            <br><br>Στο Πανεπιστήμιο λειτουργούν ακόμα:
            <br><br>-Βιβλιοθήκη και Κέντρο Πληροφόρησης
            <br>Αποστολή της είναι η συλλογή, η επεξεργασία και η διάδοση των πληροφοριών που σχετίζονται με τα γνωστικά αντικείμενα του Ιδρύματος.
            <br><br>-Γραφείο Διασύνδεσης Σπουδών και Σταδιοδρομίας
            <br>Σκοπός του Γραφείου Διασύνδεσης είναι η ανάπτυξη αμφίδρομης επικοινωνίας μεταξύ του ακαδημαϊκού χώρου και των επιχειρήσεων ή άλλων παραγωγικών φορέων, στους οποίους θα μπορούσαν να απορροφηθούν οι πτυχιούχοι, αξιοποιώντας κατάλληλα τις γνώσεις τους.
            <br><br>Κέντρο Συμβουλευτικής Φοιτητών
            <br>Το Κέντρο Συμβουλευτικής Φοιτητών αποσκοπεί στην παροχή βοήθειας στους φοιτητές για την αντιμετώπιση προβλημάτων της φοιτητικής τους ζωής, στην ανάπτυξη των κοινωνικών και επικοινωνιακών τους δεξιοτήτων μέσα από διαδικασίες αυτογνωσίας και αυτοαντίληψης, στην ενσωμάτωση φοιτητών με ειδικές ανάγκες, στη συμβουλευτική στήριξη αλλοδαπών φοιτητών και στην ανάπτυξη και ενίσχυση των δεξιοτήτων μάθησης των φοιτητών.
            <br><br>Κέντρο Πληροφορικής και Δικτύων
            <br>Το Κέντρο Πληροφορικής και Δικτύων έχει αναλάβει την ανάπτυξη, τη λειτουργία και τη διαχείριση του δικτύου δεδομένων και φωνής του Πανεπιστημίου με σκοπό την παροχή υψηλής ποιότητας υπηρεσιών στους χρήστες του.
            <br><br>Η έρευνα που αναπτύσσεται στο Πανεπιστήμιο συμβάλλει στην προαγωγή της επιστημονικής γνώσης και της δημόσιας υγείας, καθώς και στη βελτίωση της οικονομικής και κοινωνικής ανάπτυξης του τόπου.
            <br>Σύμφωνα με δύο μελέτες που έχουν πραγματοποιηθεί, με βάση τον αριθμό δημοσιεύσεων των μελών ΔΕΠ και τη διεθνή απήχησή τους, το Χαροκόπειο Πανεπιστήμιο:
            <br>α) κατατάσσεται τέταρτο και τρίτο, αντίστοιχα, μεταξύ των ελληνικών Α.Ε.Ι. σε ό,τι αφορά στις διεθνείς αναφορές ανά μέλος ΔΕΠ και τις διεθνείς αναφορές ανά δημοσίευση 
            <br>β) συγκαταλέγεται μεταξύ των τεσσάρων Πανεπιστημίων της χώρας των οποίων οι δημοσιεύσεις έχουν τη μεγαλύτερη απήχηση και καταγράφουν δείκτες που υπερβαίνουν ή προσεγγίζουν τον παγκόσμιο μέσο όρο (πρόσφατη μελέτη του ΕΚΤ για τη χρονική περίοδο 1993 – 2008). 
            <br><br>Το Χαροκόπειο Πανεπιστήμιο έχει αναπτύξει συνεργασίες μέσω διμερών συμφωνιών και ερευνητικών προγραμμάτων με Πανεπιστήμια της Ευρώπης όπως:
            <br>-Lancaster University
            <br>-University of Bristol
            <br>-University of Manchester
            <br>-City University London
            <br>-Université Paris I
            <br>-Université Paris Descartes
            <br>-Université Lille 1
            <br>-Lund University
            <br>κ.ά, καθώς και της Αμερικής όπως Yale University, Tufts University και Harvard University, ενώ συνεχίζει τις συνεργασίες του με Πανεπιστήμια της Ευρώπης μέσω της δράσης Erasmus.</p>
        <hr>
    </div>
</div>
