<div style="height:1000px">
</div>

<section id="footer">
    <div style="background-color:white">
    <div class="fskew">
    <div class="row">
        <div class="small-12 medium-6 medium-centered large-centered columns ">
          <div class="icon-box" style="text-align: center;">
            <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x"></i>
             <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x"></i>
             <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x"></i>
             <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x"></i>
             <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
          </div>
        </div>
    </div>
    </div>
   
   <div style="background-color:#A09C9C">
    <div class="sskew">
    <div class="row" style="margin-bottom: -1rem">
        <div class="small-12 medium-6 medium-centered large-centered columns ">
            <div class="link-box" style="text-align: center;">
              <span><a>Home </a>|</span>
              <span><a>Education </a>|</span>
              <span><a> Facilities </a>|</span>
              <span><a>Services</a></span>
              <br>
              <span><a>About </a>|</span> <span><a>Contact</a></span>
           </div>
        </div>    
    </div>
    </div>
    </div>
</section>