<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;">Χώροι - Εγκαταστάσεις</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("main.jpg") %>" style="width:100%;height:400px;">
        </div>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            Οι κεντρικές εγκαταστάσεις του Πανεπιστημίου βρίσκονται επί της οδού Ελ. Βενιζέλου 70 στην Καλλιθέα. Το κτηριακό συγκρότημα χωροθετείται εντός δενδρόφυτου αστικού ακινήτου, που καταλαμβάνει έκταση είκοσι περίπου στρεμμάτων, και περιλαμβάνει κυρίως :<br>
            <br>-Το κεντρικό κτήριο, το οποίο αναπαλαιώθηκε και ανακαινίσθηκε κατά τα έτη 1993-94 και σήμερα στεγάζει εκτός από αίθουσες διδασκαλίας, το κεντρικό αμφιθέατρο, εργαστήρια, καθώς και τις διοικητικές υπηρεσίες του Πανεπιστημίου. Η ανέγερση και κατασκευή του πραγματοποιήθηκε κατά τα έτη 1915-1920, ενώ το 1959 προστέθηκε μια νέα πτέρυγα. Στο κτηριακό αυτό συγκρότημα στεγάσθηκε το 1929 η «Χαροκόπειος Ανωτάτη Σχολή», η οποία έπαυσε τη λειτουργία της το 1990.</p><br>
            <div class="large-12 medium-12 small-12">
                <img alt="photo" src="<%= asset_url("library2.jpg") %>" style="width:100%;height:400px;">
            </div>
            <br><p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">-Το έτος 2000, η κτηριακή υποδομή του Πανεπιστημίου συμπληρώθηκε με την ανέγερση ενός νέου σύγχρονου κτηρίου, που περιλαμβάνει τη «Βιβλιοθήκη και Κέντρο Πληροφόρησης», την αίθουσα τελετών, πλήρως εξοπλισμένα εργαστήρια, αίθουσες διδασκαλίας και γραφεία καθηγητών, ως επί το πλείστον του τμήματος Γεωγραφίας.
            <br><br>Συμπληρωματικά, οι ανάγκες του Πανεπιστημίου καλύπτονται και με δύο επιπλέον κτήρια, που χωροθετούνται σε μικρή απόσταση από τις κεντρικές εγκαταστάσεις όπως το κτήριο που στεγάζει εργαστήρια, αίθουσες διδασκαλίας και γραφεία καθηγητών του Τμήματος Πληροφορικής και Τηλεματικής, επί της οδού Χαροκόπου 89 και το κτήριο επί της οδού Ελ. Βενιζέλου 71, που στεγάζει αίθουσες διδασκαλίας και γραφεία καθηγητών.</p><br>
            <div class="large-12 medium-12 small-12">
                <img alt="photo" src="<%= asset_url("dit.jpg") %>" style="width:100%;height:400px;">
            </div>
            <br><p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">Το 2013 εγκαινιάστηκε ένα ακόμη ιδιόκτητο κτήριο στην περιοχή του Ταύρου για τη στέγαση του Τμήματος Πληροφορικής και Τηλεματικής και μάλιστα από το 2015 έχει εγκατασταθεί και λειτουργεί χώρος σίτισης για τους φοιτητές του Πανεπιστημίου.</p>
        <hr>
    </div>
</div>
