<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;">Κέντρο Πληροφορικής & Δικτύων</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("dasta.jpg") %>" style="width:100%;height:80px;">
        </div>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            
            Στις δραστηριότητές του εντάσσονται:
Εγκατάσταση, λειτουργία και αναβάθμιση δικτυακών υπηρεσιών καθώς και ενσωμάτωση νέων
Σχεδιασμός της βέλτιστης τοπολογίας και διάρθρωσης του εξοπλισμού
Παρακολούθηση της λειτουργίας του δικτύου και διαχείριση των πόρων του
Εγκατάσταση νέων συνδέσεων και αλλαγή των χαρακτηριστικών των ήδη ενεργών
Σύνταξη τεχνικών προδιαγραφών για τις δικτυακές επεκτάσεις και αναβαθμίσεις
Διαχείριση του ενεργού εξοπλισμού.
Διαχείριση των λογαριασμών των χρηστών.
Ενημέρωση, εκπαίδευση και τεχνική υποστήριξη των χρηστών
Ανάπτυξη νέων προηγμένων υπηρεσιών.
Συμμετοχή σε ερευνητικά έργα και προγράμματα.
Συνεργασία και επικοινωνία με αντίστοιχες υπηρεσίες άλλων δικτύων
Το ΚΠΔ λειτουργεί συμβουλευτικά και υποστηρικτικά και στις υπόλοιπες δράσεις πληροφορικής στο Χαροκόπειο Πανεπιστήμιο και είναι άρρηκτα συνδεδεμένο με τη δράση της «Κοινωνίας της Πληροφορίας», συμβάλλοντας στη διάχυση των νέων τεχνολογιών πληροφορικής και τηλεπικοινωνιών στο Πανεπιστήμιο.    
        <hr>
    </div>
</div>
