<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;text-align: center;
    text-shadow: 1px 1px rgba(52, 50, 51, 0.88);
    color: rgba(104, 104, 104, 0.47);
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 3.5rem;">Μονάδα Διασφάλισης Ποιότητας(ΜΟΔΙΠ)</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("quality.jpg") %>" style="width:100%;height:400px;">
        </div><br>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            <br><br>Στόχος του έργου «Μονάδα Διασφάλισης Ποιότητας-ΜΟΔΙΠ του Χαροκοπείου Πανεπιστήμιου», με κωδικό MIS 304107, υποέργο 1 «ΜΟΔΙΠ του Χαροκοπείου Πανεπιστημίου», που συγχρηματοδοτείται από το Ευρωπαϊκό Κοινωνικό Ταμείο και εθνικούς πόρους και έχει ενταχθεί στο Μέτρο 1.1 του Ε.Π. «Εκπαίδευση και Διά Βίου Μάθηση» του ΕΣΠΑ (αποφ. ένταξης 25543/06.12.2010) είναι η διαμόρφωση ενός πλαισίου για τη διαχρονική, αξιόπιστη και αντικειμενική αξιολόγηση της ποιότητας της παρεχόμενης εκπαίδευσης μέσω της συστηματικής συλλογής και επεξεργασίας δεδομένων. Τα εν λόγω δεδομένα αφορούν στην ποιότητα του εκπαιδευτικού και ερευνητικού έργου που επιτελείται στα τέσσερα (4) Τμήματα του  Χαροκοπείου Πανεπιστημίου σε προπτυχιακό και μεταπτυχιακό επίπεδο, καθώς  και την ποιότητα των λοιπών υπηρεσιών που παρέχει το Πανεπιστήμιο στους φοιτητές και το προσωπικό. 
            <br><br>Τα συμπεράσματα της αξιολόγησης θα αξιοποιηθούν για τη βελτίωση της ποιότητας του εκπαιδευτικού έργου, την αύξηση της ποσότητας και κυρίως της ποιότητας του παραγόμενου ερευνητικού έργου,  καθώς και την ανάδειξη αδυναμιών και ελλείψεων σε προσωπικό και υποδομές που δυσχεραίνουν το έργο που καλούνται να επιτελέσουν τα Tμήματα του Χαροκοπείου Πανεπιστημίου. 
            <br><br>Η διαδικασία αξιολόγησης και διασφάλισης της ποιότητας των παρεχόμενων υπηρεσιών από τα τέσσερα (4) Τμήματα του Χαροκοπείου Πανεπιστημίου γίνεται με βάση τις αρχές που θέτει ο Νόμος 3374/2-8-2005. Την ευθύνη οργάνωσης και παρακολούθησης της διαδικασίας σε επίπεδο Ιδρύματος  έχει η ΜΟ.ΔΙ.Π, ενώ σε επίπεδο Τμημάτων την ευθύνη λειτουργίας του συστήματος αξιολόγησης έχουν οι ΟΜΕΑ. 
            <br><br>Τα παραδοτέα του έργου περιλαμβάνουν: α) υποδομή για την αυτοματοποίηση της διαδικασίας με την ανάπτυξη και εγκατάσταση κατάλληλου λογισμικού και απαιτούμενου υλικού β)  ετήσιες εσωτερικές εκθέσεις για όλα τα Τμήματα, καθώς και για τις Κεντρικές Υπηρεσίες του Χαροκοπείου Πανεπιστημίου γ) εσωτερικές εκθέσεις του Ιδρύματος ανά διετία δ) εκθέσεις εσωτερικής αξιολόγησης για όλα τα Τμήματα, καθώς και τις Κεντρικές Υπηρεσίες του Χαροκοπείου Πανεπιστημίου στο τέλος του έργου και ε) διοργάνωση ημερίδας και  έκδοση ενημερωτικού υλικού.</p><br>
        <hr>
    </div>
</div>
