<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;text-align: center;
    text-shadow: 1px 1px rgba(52, 50, 51, 0.88);
    color: rgba(104, 104, 104, 0.47);
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 3.5rem;">Κέντρο Πληροφορικής & Δικτύων</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("tech.jpg") %>" style="width:100%;height:400px;">
        </div><br>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            <strong>Γενικά</strong>
            <br>Το Κέντρο Πληροφορικής και Δικτύων (ΚΠΔ) του Χαροκοπείου Πανεπιστημίου ξεκίνησε τη λειτουργία του το 1997 και έχει αναλάβει την ανάπτυξη, την απρόσκοπτη λειτουργία και τη διαχείριση του δικτύου δεδομένων και φωνής του Πανεπιστημίου, με σκοπό την διασφάλιση υψηλής ποιότητας υπηρεσιών για το σύνολο των μελών του Πανεπιστημίου.
            <br><br>Στις δραστηριότητές του εντάσσονται:
            <br>-Εγκατάσταση, λειτουργία και αναβάθμιση δικτυακών υπηρεσιών καθώς και ενσωμάτωση νέων
            <br>-Σχεδιασμός της βέλτιστης τοπολογίας και διάρθρωσης του εξοπλισμού
            <br>-Παρακολούθηση της λειτουργίας του δικτύου και διαχείριση των πόρων του
            <br>-Εγκατάσταση νέων συνδέσεων και αλλαγή των χαρακτηριστικών των ήδη ενεργών
            <br>-Σύνταξη τεχνικών προδιαγραφών για τις δικτυακές επεκτάσεις και αναβαθμίσεις
            <br>-Διαχείριση του ενεργού εξοπλισμού.
            <br>-Διαχείριση των λογαριασμών των χρηστών.
            <br>-Ενημέρωση, εκπαίδευση και τεχνική υποστήριξη των χρηστών
            <br>-Ανάπτυξη νέων προηγμένων υπηρεσιών.
            <br>-Συμμετοχή σε ερευνητικά έργα και προγράμματα.
            <br>-Συνεργασία και επικοινωνία με αντίστοιχες υπηρεσίες άλλων δικτύων
            <br><br>Το ΚΠΔ λειτουργεί συμβουλευτικά και υποστηρικτικά και στις υπόλοιπες δράσεις πληροφορικής στο Χαροκόπειο Πανεπιστήμιο και είναι άρρηκτα συνδεδεμένο με τη δράση της «Κοινωνίας της Πληροφορίας», συμβάλλοντας στη διάχυση των νέων τεχνολογιών πληροφορικής και τηλεπικοινωνιών στο Πανεπιστήμιο.    
            <br><br><br><strong>Προσωπικό</strong>
            <br>Επιστημονικά Υπεύθυνος:
            <br>Καθηγητής, Αναγνωστόπουλος Δημοσθένης 
            <br><br>Διαχείριση δικτύου, ανάπτυξη υπηρεσιών & υποστήριξη χρηστών:
            <br>Δαλάκας Βασίλειος 
            <br>Μήτση Λορέτα
            <br>Πιπερίδης Κωνσταντίνος
            <br>Συμιακάκης Γεώργιος
            <br><br><br><strong>Εργα & Προγράμματα</strong>
            <br>Το ΚΠΔ συντονίζει τη συμμετοχή του Πανεπιστημίου στο διαπανεπιστημιακό δίκτυο GUnet και είναι υπεύθυνο για τη διασύνδεση του Πανεπιστημίου με το ΕΔΕΤ (Εθνικό Δίκτυο Έρευνας & Τεχνολογίας).
            <br><br>Σκοπός του GUnet είναι ο σχεδιασμός, η υλοποίηση και η λειτουργία κόμβων πρόσβασης των τοπικών ακαδημαϊκών δικτύων για παροχή προηγμένων υπηρεσιών τηλεματικής σε υψηλές ταχύτητες.
            <br><br>Μέσω των έργων που χρηματοδοτούνται απο τα προγράμματα ΕΠΕΑΕΚ του Β' ΚΠΣ και ΕΠΕΑΕΚ και ΕΠ ΚτΠ του Γ΄ΚΠΣ, έχει αναβαθμιστεί σημαντικά η δικτυακή υποδομή του Χαροκοπείου Πανεπιστημίου καθώς και η πρόσβαση της ελληνικής Τριτοβάθμιας Εκπαίδευσης στο Internet και η αξιοποίησή του για εκπαιδευτικούς σκοπούς. Στο GUnet συμμετέχουν τα 18 A.E.I. και τα 14 Τ.Ε.Ι. της χώρας, με συντονισμό του Πανεπιστημίου Αθηνών. Οι ανωτέρω δράσεις συγχρηματοδοτούνται από την Ευρωπαϊκή Ένωση (75%) και το Ελληνικό Δημόσιο (25%).
            <br><br>Το Πανεπιστήμιο συμμετέχει ενεργά στη δράση «Κοινωνία της Πληροφορίας» μέσω του έργου "ΠΡΟΗΓΜΕΝΕΣ ΥΠΗΡΕΣΙΕΣ ΤΗΛΕΜΑΤΙΚΗΣ ΤΟΥ ΧΑΡΟΚΟΠΕΙΟΥ ΠΑΝΕΠΙΣΤΗΜΙΟΥ " (ΕΠ ΚτΠ, Πρόσκληση 10'). Με αφετηρία το 1997 και στο πλαίσιο του έργου «Δίκτυο του Χαροκοπείου Πανεπιστημίου» του Α' ΕΠΕΑΕΚ, ανέπτυξε και συνεχίζει να αναπτύσσει τις δικτυακές και τηλεπικοινωνιακές του δομές, καθώς και ένα πλήθος προσφερόμενων υπηρεσιών προς τους χρήστες του δικτύου.
            <br><br>Το Κέντρο Πληροφορικής και Δικτύων (ΚΠΔ) του Πανεπιστημίου είναι ο βασικός συντονιστής της συμμετοχής του Πανεπιστημίου στην «Κοινωνία της Πληροφορίας».
            <br><br>Στο πλαίσιο των έργων του ΕΠ ΚτΠ το ΚΠΔ του Πανεπιστημίου έχει συμμετάσχει στην υλοποίηση της διαπανεπιστημιακής δράσης «Σύγχρονη τηλεκπαίδευση», με σκοπό τη δημιουργία αντίστοιχης υπηρεσίας σε όλα τα ακαδημαϊκά ιδρύματα της χώρας.
            <br><br>Επίσης, το ΚΠΔ έχει συμμετάσχει στο ερευνητικό πρόγραμμα "Πυθαγόρας".
        </p><br>
        <hr>
    </div>
</div>
