<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;    text-shadow: 1px 1px rgba(52, 50, 51, 0.88);
    color: rgba(104, 104, 104, 0.47);
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 3.4rem;
    text-align: center;">Κέντρο Συμβουλευτικής Φοιτητών</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("counseling.jpg") %>" style="width:100%;height:400px;">
        </div><br>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            <strong>Σκοπός</strong>
            <br>Καλώς ήρθατε στο Κέντρο Συμβουλευτικής Φοιτητών του Χαροκοπείου Πανεπιστημίου. Το Κέντρο μας ιδρύθηκε με απόφαση της Συγκλήτου του Πανεπιστημίου και λειτουργεί από το Σεπτέμβριο του 2001.
            <br>Παρέχει υπηρεσίες σε προπτυχιακούς και μεταπτυχιακούς φοιτητές των Τμημάτων: 
            <br><br>- Οικιακής Οικονομίας και Οικολογίας 
            <br>- Επιστήμης Διαιτολογίας - Διατροφής 
            <br>- Γεωγραφίας 
            <br>- Πληροφορικής και Τηλεματικής
            <br><br>Το Κέντρο συνεργάζεται στενά με το Κέντρο Διασύνδεσης του Πανεπιστημίου για την παροχή συμβουλευτικής υποστήριξης στους φοιτητές.
            <br><br><br> <strong>Οργάνωση</strong>
            <br><strong>Επιστημονικά Υπεύθυνη</strong> του Κέντρου Συμβουλευτικής Φοιτητών
            <br>Αικατερίνη Μαριδάκη Κασσωτάκη, Καθηγήτρια Ψυχολογίας
            <br><br><strong>Συνεργάτες:</strong>
            <br>Γιώργος Τσίτσας, Συμβουλευτικός Ψυχολόγος
            <br>Αγγελική Κυβέλου, Εκπαιδευτικός – Ψυχοθεραπεύτρια
            <br>Έλλη Θολούλη, Ψυχολόγος, Ψυχοθεραπεύτρια
            <br>Χριστίνα Αναστασοπούλου, Ψυχολόγος, MSc
            <br>Ευανθία Καραγεώργου, Ψυχολόγος, MSc
            <br><br><br><strong>Υπηρεσίες</strong>
            <br><strong>Ατομική Συμβουλευτική</strong>
            <br>Η υπηρεσία αυτή αποσκοπεί στο να βοηθήσει τους φοιτητές που αντιμετωπίζουν προβλήματα προσωπικά (δυσκολίες προσαρμογής στο νέο περιβάλλον, δυσκολίες λήψης αποφάσεων, έλλειψη ενδιαφέροντος, ψυχοσωματικές εκδηλώσεις, διαταραχές διατροφής, φοβίες, κατάθλιψη, άγχος, εθισμό κ.ά.), προβλήματα σπουδών (δυσκολίες μάθησης, άγχος εξετάσεων, κακή διαχείριση χρόνου, κ.ά.) προβλήματα επικοινωνίας με γονείς, φίλους ή συντρόφους, ή προβλήματα που σχετίζονται με γεγονότα της ζωής (αρρώστια, θάνατος, καταστροφές κ. ά.). Η παραπάνω βοήθεια παρέχεται σε ατομικό επίπεδο μετά από επικοινωνία του ενδιαφερόμενου με τους συνεργάτες του Κέντρου.
            <br><br><strong>Ομαδική Συμβουλευτική</strong>
            <br>Κατά τη διάρκεια του ακαδημαϊκού έτους λειτουργούν βιωματικές και εκπαιδευτικές ομάδες, τα θέματα των οποίων καθορίζονται στην αρχή κάθε εξαμήνου και προσαρμόζονται στις εκάστοτε ανάγκες των φοιτητών.
            <br>-Ενδεικτικά θέματα των ομάδων είναι:
            <br>-Προσωπική ανάπτυξη και αυτοεκτίμηση
            <br>-Ανάπτυξη διαπροσωπικών σχέσεων
            <br>-Ανάπτυξη της διεκδικητικότητας
            <br>-Ανάπτυξη δημιουργικής έκφρασης
            <br>-Διαχείριση άγχους
            <br>-Διαχείριση θυμού
            <br>-Διαχείριση χρόνου
            <br>-Ανάπτυξη δεξιοτήτων επικοινωνίας στο σχολικό περιβάλλον
            <br>-Ανάπτυξη δεξιοτήτων μάθησης
            <br>-Οι συμβουλευτικές προσεγγίσεις που χρησιμοποιούνται για τη λειτουργία των ομάδων είναι: γνωσιακή-συμπεριφοριστική (CBT), υπαρξιακή, θεραπεία μέσω τέχνης (art therapy), θεραπεία gestalt και κλασικό ψυχόδραμα (psychodrama).
        </p><br>
        <hr>
    </div>
</div>
