<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;">Γραφείο Διασύνδεσης Σπουδών και Σταδιοδρομίας</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("xarokopeio.jpg") %>" style="width:100%;height:400px;">
        </div>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            Κύρια αποστολή του Γραφείου  είναι η ενημέρωση των  μελών της ακαδημαϊκής κοινότητας  για θέματα που σχετίζονται με τις σπουδές και την αγορά εργασίας. Βασικός άξονας των δραστηριοτήτων του Γραφείου είναι η συμβουλευτική υποστήριξη και συστηματική πληροφόρηση των επωφελούμενων για το σχεδιασμό της επαγγελματικής τους σταδιοδρομίας  με βάση τη σωστή αξιοποίηση των προσόντων, των εφοδίων και των δυνατοτήτων τους.
            <br><br>Οι επωφελούμενοι των υπηρεσιών του Γραφείου Διασύνδεσης Σπουδών  & Σταδιοδρομίας είναι οι φοιτητές, οι απόφοιτοι, τα μέλη Δ.Ε.Π., το διοικητικό προσωπικό του Χαροκοπείου Πανεπιστημίου καθώς και των άλλων ιδρυμάτων της χώρας μας,  οι φορείς αγοράς εργασίας και οι μαθητές της Δευτεροβάθμιας Εκπαίδευσης.
            <br><br>Για περισσότερες πληροφορίες πατήστε <a href="http://webms.hua.gr/careeroffice/">εδώ</a>.</p>
        <hr>
    </div>
</div>
