<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;    text-shadow: 1px 1px rgba(52, 50, 51, 0.88);
    color: rgba(104, 104, 104, 0.47);
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 4rem;">Βιβλιοθήκη & Κέντρο Πληροφόρησης</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("library.jpg") %>" style="width:100%;height:400px;">
        </div><br>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            Παράλληλα με την ίδρυση του Χαροκοπείου Πανεπιστημίου το 1991 ιδρύθηκε και η Κεντρική Βιβλιοθήκη του Ιδρύματος,
            η οποία λειτουργεί ως αυτοτελής αποκεντρωμένη υπηρεσία σε επίπεδο Διεύθυνσης. Το 1995  η Βιβλιοθήκη και Κέντρο Πληροφόρησης ξεκινά  την επιστημονική οργάνωση του υλικού της,
            σύμφωνα με τους διεθνείς βιβλιοθηκονομικούς κανόνες και πρότυπα. Συγκεκριμένα, χρησιμοποιούνται οι Αγγλο-Αμερικάνικοι Κανόνες Καταλογογράφησης (AACR 2)
            και οι θεματικές επικεφαλίδες της Library of Congress. Η καθιέρωση των ονομάτων γίνεται από το Library of Congress Name Authorities και από τον Κατάλογο
            Καθιερωμένων Ονομάτων Φυσικών Προσώπων της Εθνικής Βιβλιοθήκης της Ελλάδας. Τέλος, η ταξινόμηση γίνεται σύμφωνα με το Dewey Decimal Classification, 22nd ed.</p>
            
             <div class="large-12 medium-12 small-12">
                <img alt="photo" src="<%= asset_url("library2.jpg") %>" style="width:100%;height:400px;">
            </div>
            <br> <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">Tο 1996 η Υπηρεσία Βιβλιοθήκης εντάχθηκε στο Γ' Κοινοτικό Πρόγραμμα Στήριξης ΕΠΕΑΕΚ- Ακαδημαϊκές Βιβλιοθήκες (Επιχειρησιακό Πρόγραμμα Εκπαίδευσης και Αρχικής Επαγγελματικής Κατάρτισης ) και αρχίζει σταδιακά η αναβάθμισή της:
προσλαμβάνεται επιπλέον προσωπικό,
εμπλουτίζεται  το υλικό της με βιβλία και επιστημονικά περιοδικά, οργανώνεται σε τμήματα το υλικό της,
αρχίζει η παροχή νέων υπηρεσιών στους χρήστες.
Από την έναρξη της λειτουργίας της μέχρι και τον Ιούνιο του 2000 λειτουργούσε σε χώρο 120 τ.μ. στον 1ο όροφο του κεντρικού κτιρίου του Πανεπιστημίου. Από τον Νοέμβριο του 2000 λειτουργεί στον 2ο όροφο της νέας πτέρυγας "Ευανθία - Πετρούτση-Χαροκόπου" του Χαροκοπείου Πανεπιστημίου, συνολικής εκτάσεως 540 τ.μ., Ελ. Βενιζέλου 70, ΤΚ 176 71, Καλλιθέα. Το Σεπτέμβριο του 2002 αρχίζει η υλοποίηση της πράξης «Ενίσχυση, Εμπλουτισμός και Εκσυγχρονισμός της Βιβλιοθήκης του Χαροκοπείου Πανεπιστημίου στο πλαίσιο του ΕΠΕΑΕΚ ΙΙ.
Η Βιβλιοθήκη και Κέντρο Πληροφόρησης με την εξέλιξη και την ανάπτυξη των διαδικασιών γύρω από το χώρο της επιστημονικής πληροφόρησης είναι σε θέση σήμερα να εξυπηρετήσει όλα τα μέλη της ακαδημαϊκής κοινότητας. Για περισσότερες πληροφορίες πατήστε <a href="http://www.library.hua.gr/">εδώ</a>.</p>
<br>        <hr>
    </div>
</div>
