<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;">Δομή Απασχόλησης και Σταδιοδρομίας(ΔΑΣΤΑ)</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("dasta.jpg") %>" style="width:100%;height:80px;">
        </div>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            <br>Η κυρίαρχη σκοπιμότητα του προγράμματος ΔΑΣΤΑ είναι η γνωριμία και η απόκτηση ουσιαστικής επαφής των φοιτητών με την αγορά εργασίας ως μέρος του προγράμματος σπουδών κατά τα πρότυπα των περισσοτέρων συστημάτων ανώτατης εκπαίδευσης της Ευρώπης. Δευτερεύουσα, αλλά σημαντική σκοπιμότητα είναι η αμφίδρομη ανάδραση μεταξύ ανώτατης εκπαίδευσης και εργασιακού χώρου.
            <br><br>Για περισσότερες πληροφορίες πατήστε <a href="http://dasta.hua.gr/">εδώ</a>.</p><br>    
        <hr>
    </div>
</div>
