<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;    text-shadow: 1px 1px rgba(52, 50, 51, 0.88);
    color: rgba(104, 104, 104, 0.47);
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 3.5rem;">Δομή Απασχόλησης και Σταδιοδρομίας(ΔΑΣΤΑ)</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("dasta.jpg") %>" style="width:100%;height:80px;">
        </div>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            <br><strong>Σκοπός</strong>
            <br>Η <strong>Δομή Απασχόλησης και Σταδιοδρομίας</strong> του Χαροκοπείου Πανεπιστημίου ιδρύθηκε και λειτουργεί στα πλαίσια του Επιχειρησιακού Προγράμματος Εκπαίδευση και Δια Βίου Μάθηση του Εθνικού Στρατηγικού Πλαισίου Αναφοράς (ΕΣΠΑ).
            <br><br>Έχει την ευθύνη για το συντονισμό και την υλοποίηση των δράσεων του Γραφείου Διασύνδεσης , του Γραφείου Πρακτικής & της Μονάδας Καινοτομίας & Επιχειρηματικότητας .
            <br><br>Βασικός στόχος της Δομής Απασχόλησης & Σταδιοδρομίας είναι να προσφέρει στους φοιτητές & νέους αποφοίτους, τη δυνατότητα να γνωρίσουν το περιβάλλον της μελλοντικής τους επαγγελματικής σταδιοδρομίας και παράλληλα, να αποκτήσουν γνώσεις και δεξιότητες που θα τους επιτρέψουν να διεκδικήσουν με καλύτερους όρους τη θέση τους στον επαγγελματικό στίβο.
            <br><br><strong>Κώδικας Δεοντολογίας</strong>
            <br>Στο αρχείο που επισυνάπτεται παρακάτω μπορείτε να ενημερωθείτε για τον Κώδικα Δεοντολογίας που διέπει τις υπηρεσίες της Δομής Απασχόλησης & Σταδιοδρομίας του Πανεπιστημίου Κώδικας Δεοντολογίας
            <br><br><strong>Παρουσίαση Υπηρεσιών</strong>
            <br>Στην παρουσίαση που επισυνάπτεται παρακάτω μπορείτε να ενημερωθείτε για τις υπηρεσίες που προσφέρουν τα γραφεία της Δομής Απασχόλησης & Σταδιοδρομίας του Πανεπιστημίου Παρουσίαση Υπηρεσιών
        </p><br>
        <hr>
    </div>
</div>
