<div class="row">
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;    text-shadow: 1px 1px rgba(52, 50, 51, 0.88);
    color: rgba(104, 104, 104, 0.47);
    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;">Γραφείο Διασύνδεσης Σπουδών και Σταδιοδρομίας</h1>
        <div class="large-12 medium-12 small-12">
            <img alt="photo" src="<%= asset_url("xarokopeio.jpg") %>" style="width:100%;height:400px;">
        </div><br>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            <strong>Σκοπός</strong>
            <br>Το Γραφείο Διασύνδεσης Σπουδών και Σταδιοδρομίας του Χαροκοπείου Πανεπιστημίου ιδρύθηκε το 1997 με χρηματοδότηση της Ευρωπαϊκής Ένωσης και του Υπουργείου Παιδείας στο πλαίσιο του Επιχειρησιακού Προγράμματος Εκπαίδευσης και Αρχικής Επαγγελματικής Κατάρτισης (ΕΠΕΑΕΚ, Β’ ΚΠΣ) με σκοπό να αποτελέσει ένα δίκτυο πληροφόρησης και υποστήριξης των φοιτητών / αποφοίτων σε εκπαιδευτικά, επαγγελματικά και ψυχοκοινωνικά θέματα.
            <br><br>Σήμερα το Γραφείο Διασύνδεσης λειτουργεί στο πλαίσιο του Ε.Π. Εκπαίδευση και Διά Βίου Μάθηση και συγχρηματοδοτείται από την Ευρωπαϊκή Ένωση (ΕΚΤ) και Εθνικούς Πόρους.
            <br><br>Βασικός στόχος  του είναι η ανάπτυξη επικοινωνίας μεταξύ των φοιτητών / αποφοίτων και των επιχειρήσεων ή άλλων παραγωγικών φορέων στους οποίους θα μπορούσαν να απορροφηθούν, αξιοποιώντας κατάλληλα τις γνώσεις τους.
            <br><br>Αποδέκτες των υπηρεσιών του Γραφείου Διασύνδεσης είναι οι φοιτητές / απόφοιτοι του Χαροκοπείου Πανεπιστημίου, των άλλων ιδρυμάτων της χώρας καθώς και το Διδακτικό Ερευνητικό Προσωπικό του Χαροκοπείου Πανεπιστημίου.
            <br><br><br><strong>Υπηρεσίες συμβουλευτικής και ψυχολογικής υποστήριξης</strong>
            <br>Το Γραφείο Διασύνδεσης Σπουδών και Σταδιοδρομίας του Χαροκοπείου Πανεπιστημίου συνεργάζεται καθημερινά με το Κέντρο Συμβουλευτικής Φοιτητών (Κ.Σ.Φ.) του Χαροκοπείου Πανεπιστημίου για την παροχή συμβουλευτικής και ψυχολογικής υποστήριξης στους φοιτητές / φοιτήτριες για θέματα που σχετίζονται κυρίως με τις σπουδές τους και την επαγγελματική τους αποκατάσταση. Το Κέντρο Συμβουλευτικής Φοιτητών στεγάζεται σε δικό του χώρο εντός του Πανεπιστημίου και παρέχει στους φοιτητές/φοιτήτριες του Ιδρύματος συμβουλευτική και ψυχοκοινωνική υποστήριξη από ειδικά καταρτισμένο  προσωπικό.
            <br><br>Οι υπηρεσίες συμβουλευτικής και ψυχολογικής υποστήριξης που παρέχονται στο Γραφείο Διασύνδεσης Σπουδών και Σταδιοδρομίας του Χαροκοπείου Πανεπιστημίου, υπό την εποπτεία του Κέντρου Συμβουλευτικής Φοιτητών και από άτομα με ανάλογες γνώσεις και εξειδίκευση, θα περιλαμβάνουν:
            <br><br>-Ατομική Συμβουλευτική, arrow
            <br>-Ομαδική Συμβουλευτική, arrow
            <br>-Eποπτική Συμβουλευτική, arrow
            <br>-Τηλεσυμβουλευτική, arrow
            <br>-Συμβουλευτική καθοδήγηση σε ζητήματα σταδιοδρομίας arrow
            <br><br>Οι υπηρεσίες αυτές έχουν ως κύριο σκοπό να βοηθήσουν τους φοιτητές/φοιτήτριες του Πανεπιστημίου να αναγνωρίσουν τα προσωπικά τους χαρακτηριστικά (την ιδιοσυγκρασία, τις δεξιότητες, τις κλίσεις, τα ενδιαφέροντα, τις αξίες και τις αντιλήψεις τους) για να προβούν στη συνέχεια σε ρεαλιστική επιλογή επαγγελματικής κατεύθυνσης με βάση τη σωστή αξιοποίηση των προσόντων, των εφοδίων και των δυνατοτήτων τους.
            <br><br><br><strong>Επικοινωνία</strong>
            <br>Το Γραφείο Διασύνδεσης βρίσκεται στην Οδό Χαροκόπου 89, στον 3ο όροφο (Γραφείο 302) και λειτουργεί καθημερινά 09:00 – 16:00.
            <br>Οι φοιτητές και απόφοιτοι του Χαροκοπείου Πανεπιστημίου μπορούν να επισκέπτονται το Γραφείο Διασύνδεσης:
            <br><br> -χωρίς ραντεβού για σύντομες συναντήσεις διάρκειας 15` καθημερινά Δευτέρα με Παρασκευή 10:00-14:00.
            <br><br> -με ραντεβού για συναντήσεις διάρκειας 60΄
        </p><br>
        <hr>
    </div>
</div>
