<section id="sitemap">
<div class="row" style="margin-bottom: 30px;">
    <div class="large-6 medium-6 small-12 large-centered medium-centered columns">
        <a href="/user/index" style="text-align:center;"><h1 style=" font-family: 'Didact Gothic', serif;">Αρχική</h1></a>
    </div>
</div>
<div class="row">
 <div class="large-4 medium-4 small-6 columns">
     <ul class="sitemapul">
         <li><a href="user/news"><h3>Νέα</h3><i class="fa fa-list-alt"></i></a></li>
   <li>  <a href="/user/news7">Στο Χαροκόπειο Πανεπιστήμιο ο Ανδρέας Λοβέρδος </a></li>
   <li>  <a href="/user/news1">Info Days 2015-2016 </a></li>
   <li>  <a href="/user/news2"> 3η Διημερίδα Εφαρμοσμένης Διαιτολογίας & Διατροφής</a></li>
     <li><a href="/user/news3">13 Βιωματικά σεμινάρια από το πανεπιστήμιο </a></li>
    <li> <a href="/user/news4">Μεταπτυχιακά 2015: “Βιώσιμη Ανάπτυξη» στο Χαροκόπειο Πανεπιστήμιο </a></li>
    <li> <a href="/user/news5">Θερινό Σχολείο κώδικα ΕΛ/ΛΑΚ με θέμα τον τουρισμό </a></li>
  <li>   <a href="/user/news6">Δωρεάν Εκδήλωση για Μεταπτυχιακές Σπουδές στην Εφαρμοσμένη Διαιτολόγια – Διατροφή </a></li>
     </ul>
     
 </div>
 <div class="large-4 medium-4 small-6 columns">
      <ul class="sitemapul">
   <li>  <a href="/user/services"><h3>Υπηρεσίες</h3><i class="fa fa-gears"></i></a></li>
    <li> <a href="/user/service1">Γρ. Διασύνδεσης Σπουδών & Σταδιοδρομίας</a></li>
   <li>  <a href="/user/service2">Βιβλιοθήκη & Κέντρο Πληροφόρησης</a></li>
   <li>  <a href="/user/service3">Δομή Απασχόλησης και Σταδιοδρομίας (ΔΑΣΤΑ)</a></li>
   <li>  <a href="/user/service4">Κέντρο Πληροφορικής & Δικτύων</a></li>
  <li>   <a href="/user/service5">Μονάδα Διασφάλισης Ποιότητας (ΜΟΔΙΠ)</a></li>
   <li>  <a href="/user/service6">Κέντρο Συμβουλευτικής Φοιτητών</a></li>
   </ul>
 </div>
 <div class="large-4 medium-4 small-6 columns">
      <ul class="sitemapul">
    <li>   <a href="/user/services"><h3>Πανεπιστήμιο</h3><i class="fa fa-fort-awesome"></i></a></li>
    <li>   <a href="/user/history">Ιστορία</a></li>
    <li>   <a href="/user/premises">Χώροι-Εγκαταστάσεις</a></li>
      </ul>
 </div>
</div>

<div class="row">
    <div class="large-6 medium-6 small-12 columns">
        <ul class="sitemapul">
        <li>  <a href="/user/index"><h2>Επικοινωνία</h2><i class="fa fa-map"></i></a></li>
        <li>  <a href="/user/contacts">Επαφές</a></li>
        <li>  <a href="/user/access">Πρόσβαση</a></li>
         </ul>
    </div>
        <div class="large-6 medium-6 small-12 columns">
         <ul class="sitemapul">
        <li>  <a href="/user/forum"><h2>Forum</h2><i class="fa fa-leanpub"></i></a></li>
         </ul>
    </div>
</div>
</section>